body
{
    background-color: yellow;
}

#izquierda
{
    background-image: linear-gradient(yellow, orange);
    width: 20%;
    float: left;
    height: 100vh;
}

#derecha
{
    background-image: linear-gradient(yellow, orange);
    width: 20%;
    float: right;
    height: 100vh;
}

#encabezado
{
    background-color: blue;
    height: 25vh;
}

#encabezadoMenu{
    background-color: aqua;
}



body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 70px;
    background-color: coral;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-left: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;

}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
}

.contenedor-columnas{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

.columnasx3{
    width: 25%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: auto;
}

.columnasx3 img{
    width: 100%;
}

p{
    text-align: justify;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}